.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title span {
    font-family: 'NotesEsa';
    font-size: 7.5em;
    color: var(--yellow) !important;
    font-weight: bold;
}

.header-logo {
    background-image:url('../img/icon.svg') !important;
    background-size: cover;
    width: 115px;
    height: 100px;
    margin-right: 1.5rem;
}

div.kc-logo-text span {
    display: none;
}
