@import "variables.css";
@import "buttons.css";
@import "header.css";
@import "general.css";
@import "tc.css";

body, html {
    background-image:url('../img/kv.png') !important;
    background-size: cover !important;
    background-color: var(--darkblue) !important;
}

.login-pf-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-pf {
    width: 50vw;
    border-radius: var(--border-radius);
}

#kc-social-providers {
    h2 {
        font-size: medium;
    }

    .kc-social-links {
        flex-direction: column;
        gap: .5rem;

        .kc-social-item {
            background-color: var(--lightgreen);
            color: var(--white);
            font-size: 14px;
        }
        .kc-social-item:after {
            display: none;
        }
    }
}